/* body{
    background-image: url("img/hushe.jpeg");
} */

#menuFondo{
    height: 100vh;
    background-image: linear-gradient(rgba(49, 49, 49, 0.5),rgba( 49, 49, 49, 0.5)), url("../img/hushe.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    color: #ffffff;
}

#cerrar_sesion {
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
    margin-right: 20px;
}

.card {
    border-radius: 10px;
    margin: 4%;
}

.card a {
    text-decoration: none;
    color: #000000;
}

.card-header{
    background-color: #566069;
    border-radius: 5px;
    color: #ffffff;
}

h5{
    font-family: Josefin Sans;
    font-size: 26px;
}

#loginForm {
    margin-top: 10%;
    padding: 1% 4% 1% 2%;
    background-color: linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 1));
    border-radius: 10px;
    border: 2px #ffffff solid;
}

/*css primera pagina boton acceder*/
#acceder_sesion{
    width: 160px;
    height: 50px;
    color: #000000;
    background-color: #EFE378;
    border-color: #508C34;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: bold;
    margin-left: 90%;
    margin-top: 5%;
}

.titulosPrincipales{
    margin-top: 6%;
}

.titulo1{

    color: #b84b30;
    font-size: 50px;
    font-family: Montserrat;
}

.titulo2{
    color: #000000;
    font-size: 50px;
    font-family: Montserrat;
}

.contenido{
   padding-left: 30%;
   padding-right: 30%;
    font-weight: bold;
    font-family: Josefin Sans;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}
